.container {
    display: inline-block;
    width: 25%;
    margin: 0px;
    border: 1px solid black;
}


.row {
    display: flex;
    width: 100%;
}

.container p {
    text-align: center;
    padding: 0%;
    margin: 0%;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@media only screen and (max-width: 720px) {
    .row {
        display: flex;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .container {
        display: inline-block;
        width: 50%;
        margin: 0px;
        border: 1px solid black;
    }
}

@media only screen and (max-width: 360px) {
    .container {
        display: inline-block;
        width: 100%;
        margin: 0px;
        border: 1px solid black;
    }
}